<!DOCTYPE html>
{% load static %}
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#009688">
    <meta name="msapplication-navbutton-color" content="#009688">
    <meta name="apple-mobile-web-app-status-bar-style" content="#009688">
    <title>didikala | Index Page</title>
    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static '/assets/css/vendor/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/vendor/materialdesignicons.min.css' %}">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static '/assets/css/vendor/bootstrap.min.css' %}">
    <!-- Plugins -->
    <link rel="stylesheet" href="{% static '/assets/css/vendor/bootstrap-slider.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/vendor/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/vendor/jquery.horizontalmenu.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/vendor/jquery-stack-menu.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/vendor/fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/vendor/nice-select.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/vendor/nouislider.min.css' %}">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static '/assets/css/main.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/colors/teal-color.css' %}" id="colorswitch">
</head>

<body>
    <div class="wrapper">
        <!-- Start header -->
        <header class="main-header">
            <!-- Start ads -->
            <div class="ads-header-wrapper">
                <a href="#" class="ads-header hidden-sm" target="_blank"
                    style="{% static 'background-image: url(/assets/img/banner/large-ads.jpg)' %}"></a>
            </div>
            <!-- End ads -->
            <!-- Start topbar -->
            <div class="container main-container">
                <div class="topbar dt-sl">
                    <div class="row">
                        <div class="col-lg-2 col-md-3 col-6">
                            <div class="logo-area">
                                <a href="{% url  'app_market:home' %}">
                                    <img src="{% static '/assets/img/logo.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-5 hidden-sm">
                            <div class="search-area dt-sl">
                                <form  id="searchForm"  method="GET" action="{% url 'app_market:search' %}" class="search">
                                    <input type="text" id="query" name="q"
                                        placeholder="نام کالا، برند و یا دسته مورد نظر خود را جستجو کنید…">
                                    <i class="far fa-search search-icon" type="submit" ></i>
                                  
                                </form>
                            </div>
                        </div>
                        <div class="col-md-4 col-6 topbar-left">
                            <ul class="nav float-left">
                                {% if user.is_authenticated %}
                                <li class="nav-item account dropdown">
                                    <a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        <span class="label-dropdown"></span>
                                        {% if user.is_authenticated %}
                                                {% if user.first_name %}
                                                    {{user.first_name}}
                                                {% else %}
                                                    حساب کاربری 
                                                {% endif %}
                                                {% else %}
                                                    حساب کاربری  
                                                {% endif %}
                                        <i class="mdi mdi-account-circle-outline"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-left">
                                        <a class="dropdown-item" href="{% url 'profile' %}">
                                            <i class="mdi mdi-account-card-details-outline"></i>پروفایل
                                        </a>
                                       
                                        <a class="dropdown-item" href="{% url 'profile_edit' %}">
                                            <i class="mdi mdi-account-edit-outline"></i>ویرایش حساب کاربری
                                        </a>
                                        <div class="dropdown-divider" role="presentation"></div>
                                        <a class="dropdown-item" href="{% url 'logout' %}">
                                            <i class="mdi mdi-logout-variant"></i>خروج
                                        </a>
                                    </div>
                                </li>
                                {% else %}
                                <li class="nav-item account dropdown">
                                    <a class="nav-link" href="{% url "login" %}" aria-haspopup="true"
                                        aria-expanded="false">
                                        <span class="label-dropdown">حساب کاربری</span>
                                        <i class="mdi mdi-account-circle-outline"></i>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End topbar -->

            <!-- Start bottom-header -->
            <div class="bottom-header dt-sl mb-sm-bottom-header">
                <div class="container main-container">
                    <!-- Start Main-Menu -->
                    <nav class="main-menu d-flex justify-content-md-between justify-content-end dt-sl">
                        <ul class="list hidden-sm">
                            <li class="list-item category-list">
                                <a href="#"><i class="fal fa-bars ml-1"></i>دسته بندی کالاها</a>
                                <ul>
                                    {% include 'component/category.html' %}
                                </ul>
                            </li>
                        </ul>
                        <div class="nav mr-auto">
                            <div class="nav-item cart--wrapper">
                                <a class="nav-link" href="">
                                    <span class="label-dropdown">سبد خرید</span>
                                    <i class="mdi mdi-cart-outline"></i>
                                    <span class="count">2</span>
                                </a>
                                
                            </div>
                        </div>
                        <button class="btn-menu">
                            <div class="align align__justify">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </button>
                        <div class="side-menu">
                            <div class="logo-nav-res dt-sl text-center">
                                <a href="#">
                                    <img src="{% static '/assets/img/logo.png' %}" alt="">
                                </a>
                            </div>
                            <div class="search-box-side-menu dt-sl text-center mt-2 mb-3">
                                <form action="">
                                    <input type="text" name="s" placeholder="جستجو کنید...">
                                    <i class="mdi mdi-magnify"></i>
                                </form>
                            </div>
                            <ul class="navbar-nav dt-sl">
                                <li class="sub-menu">
                                    <a href="#">کالای دیجیتال</a>
                                    <ul>
                                        <li class="sub-menu">
                                            <a href="#">عنوان دسته</a>
                                            <ul>
                                                <li>
                                                    <a href="#">زیر منو یک</a>
                                                </li>
                                                <li>
                                                    <a href="#">زیر منو دو</a>
                                                </li>
                                                <li>
                                                    <a href="#">زیر منو سه</a>
                                                </li>
                                                <li>
                                                    <a href="#">زیر منو چهار</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="sub-menu">
                                            <a href="#">عنوان دسته</a>
                                            <ul>
                                                <li>
                                                    <a href="#">زیر منو یک</a>
                                                </li>
                                                <li>
                                                    <a href="#">زیر منو دو</a>
                                                </li>
                                                <li>
                                                    <a href="#">زیر منو سه</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">عنوان دسته</a>
                                        </li>
                                        <li>
                                            <a href="#">عنوان دسته</a>
                                        </li>
                                        <li class="sub-menu">
                                            <a href="#">عنوان دسته</a>
                                            <ul>
                                                <li>
                                                    <a href="#">زیر منو یک</a>
                                                </li>
                                                <li>
                                                    <a href="#">زیر منو دو</a>
                                                </li>
                                                <li>
                                                    <a href="#">زیر منو سه</a>
                                                </li>
                                                <li>
                                                    <a href="#">زیر منو چهار</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="sub-menu">
                                    <a href="#">بهداشت و سلامت</a>
                                    <ul>
                                        <li class="sub-menu">
                                            <a href="#">عنوان دسته</a>
                                            <ul>
                                                <li>
                                                    <a href="#">زیر منو یک</a>
                                                </li>
                                                <li>
                                                    <a href="#">زیر منو دو</a>
                                                </li>
                                                <li>
                                                    <a href="#">زیر منو سه</a>
                                                </li>
                                                <li>
                                                    <a href="#">زیر منو چهار</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="sub-menu">
                                            <a href="#">عنوان دسته</a>
                                            <ul>
                                                <li>
                                                    <a href="#">زیر منو یک</a>
                                                </li>
                                                <li>
                                                    <a href="#">زیر منو دو</a>
                                                </li>
                                                <li>
                                                    <a href="#">زیر منو سه</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">عنوان دسته</a>
                                        </li>
                                        <li>
                                            <a href="#">عنوان دسته</a>
                                        </li>
                                        <li class="sub-menu">
                                            <a href="#">عنوان دسته</a>
                                            <ul>
                                                <li>
                                                    <a href="#">زیر منو یک</a>
                                                </li>
                                                <li>
                                                    <a href="#">زیر منو دو</a>
                                                </li>
                                                <li>
                                                    <a href="#">زیر منو سه</a>
                                                </li>
                                                <li>
                                                    <a href="#">زیر منو چهار</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="sub-menu">
                                    <a href="#">ابزار و اداری</a>
                                    <ul>
                                        <li class="sub-menu">
                                            <a href="#">عنوان دسته</a>
                                            <ul>
                                                <li>
                                                    <a href="#">زیر منو یک</a>
                                                </li>
                                                <li>
                                                    <a href="#">زیر منو دو</a>
                                                </li>
                                                <li>
                                                    <a href="#">زیر منو سه</a>
                                                </li>
                                                <li>
                                                    <a href="#">زیر منو چهار</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="sub-menu">
                                            <a href="#">عنوان دسته</a>
                                            <ul>
                                                <li>
                                                    <a href="#">زیر منو یک</a>
                                                </li>
                                                <li>
                                                    <a href="#">زیر منو دو</a>
                                                </li>
                                                <li>
                                                    <a href="#">زیر منو سه</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">عنوان دسته</a>
                                        </li>
                                        <li>
                                            <a href="#">عنوان دسته</a>
                                        </li>
                                        <li class="sub-menu">
                                            <a href="#">عنوان دسته</a>
                                            <ul>
                                                <li>
                                                    <a href="#">زیر منو یک</a>
                                                </li>
                                                <li>
                                                    <a href="#">زیر منو دو</a>
                                                </li>
                                                <li>
                                                    <a href="#">زیر منو سه</a>
                                                </li>
                                                <li>
                                                    <a href="#">زیر منو چهار</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">مد و پوشاک</a>
                                </li>
                                <li>
                                    <a href="#">خانه و آشپزخانه</a>
                                </li>
                                <li>
                                    <a href="#">ورزش و سفر</a>
                                </li>
                            </ul>
                        </div>
                        <div class="overlay-side-menu">
                        </div>
                    </nav>
                    <!-- End Main-Menu -->
                </div>
            </div>
            <!-- End bottom-header -->
        </header>
        <!-- End header -->
        {% block content %}
        {% endblock content %}
        <!-- Start footer -->
        <footer class="main-footer dt-sl">
            <div class="back-to-top">
                <a href="#"><span class="icon"><i class="mdi mdi-chevron-up"></i></span> <span>بازگشت به
                        بالا</span></a>
            </div>
            <div class="container main-container">
                <div class="footer-services">
                    <div class="row">
                        <div class="service-item col">
                            <a>
                                <img src="{% static 'assets/img/svg/delivery.svg' %}">
                            </a>
                            <p>تحویل اکسپرس</p>
                        </div>
                        <div class="service-item col">
                            <a>
                                <img src="{% static 'assets/img/svg/contact-us.svg' %}">
                            </a>
                            <p>پشتیبانی 24 ساعته</p>
                        </div>
                        <div class="service-item col">
                            <a>
                                <img src="{% static 'assets/img/svg/payment-terms.svg' %}">
                            </a>
                            <p>پرداخت درمحل</p>
                        </div>
                        <div class="service-item col">
                            <a>
                                <img src="{% static 'assets/img/svg/return-policy.svg' %}">
                            </a>
                            <p>۷ روز ضمانت بازگشت</p>
                        </div>
                        <div class="service-item col">
                            <a>
                                <img src="{% static 'assets/img/svg/origin-guarantee.svg' %}">
                            </a>
                            <p>ضمانت اصل بودن کالا</p>
                        </div>
                    </div>
                </div>
                <div class="footer-widgets">
                    <div class="row" style="justify-content: center;" >
                       
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="widget-menu widget card">
                                <header class="card-header">
                                    <h3 class="card-title">خدمات مشتریان</h3>
                                </header>
                                <ul class="footer-menu">
                                    <li>
                                        <a href="{% url 'app_market:faq' %}">پاسخ به پرسش‌های متداول</a>
                                    </li>
                                
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="widget-menu widget card">
                                <header class="card-header">
                                    <h3  class="card-title">با مرچ مارکت</h3>
                                </header>
                                <ul class="footer-menu">
                                    <li>
                                        <a href="{% url 'app_market:blog' %}">درباره مرچ مارکت</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div class="info">
                    <div class="row">
                    </div>
                </div>
            </div>
            <div class="description">
                <div class="container main-container">
                    <div class="row">
                        <div class="site-description col-12 col-lg-7">
                            <h1 class="site-title">فروشگاه اینترنتی مرچ مارکت، بررسی، انتخاب و خرید آنلاین</h1>
                            <p>
                                مرچ مارکت به عنوان یکی از قدیمی‌ترین فروشگاه های اینترنتی با بیش از یک دهه تجربه، با
                                پایبندی به سه اصل کلیدی، پرداخت در
                                محل، 7 روز ضمانت بازگشت کالا و تضمین اصل‌بودن کالا، موفق شده تا همگام با فروشگاه‌های
                                معتبر جهان، به بزرگ‌ترین فروشگاه
                                اینترنتی ایران تبدیل شود. به محض ورود به مرچ مارکت با یک سایت پر از کالا رو به رو
                                می‌شوید! هر آنچه که نیاز دارید و به
                                ذهن شما خطور می‌کند در اینجا پیدا خواهید کرد.
                            </p>
                        </div>
                        <div class="symbol col-12 col-lg-5">
                            <a><img src="{% static 'assets/img/symbol-01.png' %}" alt=""></a>
                            <a><img src="{% static 'assets/img/symbol-02.png' %}" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container main-container">
                    <p>
                    </p>
                </div>
            </div>
        </footer>
        <!-- End footer -->
    </div>
    <!-- colorPanel -->
    <div id="colorswitch-option">
        <button><i class="mdi mdi-settings"></i></button>
        <ul>
            <li class="active" data-path="{% static "/assets/css/colors/default.css" %}"><span
                    style="background-color: #f7858d;"></span></li>
            <li data-path="{% static '/assets/css/colors/amber-color.css' %}"><span style="background-color: #ffab00;"></span></li>
            <li data-path="{% static '/assets/css/colors/blue-color.css ' %}"><span style="background-color: #2979ff;"></span></li>
            <li data-path="{% static '/assets/css/colors/blue-grey-color.css' %}"><span style="background-color: #607d8b;"></span>
            </li>
            <li data-path="{% static '/assets/css/colors/brown-color.css' %}"><span style="background-color: #795548;"></span></li>
            <li data-path="{% static '/assets/css/colors/cyan-color.css' %}"><span style="background-color: #00bcd4;"></span></li>
            <li data-path="{% static '/assets/css/colors/green-color.css' %}"><span style="background-color: #4caf50;"></span></li>
            <li data-path="{% static '/assets/css/colors/indigo-color.css' %}"><span style="background-color: #3f51b5;"></span></li>
            <li data-path="{% static '/assets/css/colors/lime-color.css' %}"><span style="background-color: #cddc39;"></span></li>
            <li data-path="{% static '/assets/css/colors/orange-color.css' %}"><span style="background-color: #ff9800;"></span></li>
            <li data-path="{% static '/assets/css/colors/red-color.css' %}"><span style="background-color: #f44336;"></span></li>
            <li data-path="{% static '/assets/css/colors/teal-color.css' %}"><span style="background-color: #009688;"></span></li>
            <li data-path="{% static '/assets/css/colors/purple-color.css' %}"><span style="background-color: #9c27b0;"></span></li>
        </ul>
    </div>
    <!-- end colorPanel -->
    <!-- Core JS Files -->
    <script src="{% static '/assets/js/vendor/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static '/assets/js/vendor/popper.min.js' %}"></script>
    <script src="{% static '/assets/js/vendor/bootstrap.min.js' %}"></script>
    <!-- Plugins -->
    <script src="{% static '/assets/js/vendor/bootstrap-slider.min.js' %}"></script>
    <script src="{% static '/assets/js/vendor/owl.carousel.min.js' %}"></script>
    <script src="{% static '/assets/js/vendor/owl.carousel2.thumbs.min.js' %}"></script>
    <script src="{% static '/assets/js/vendor/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static '/assets/js/vendor/jquery.nice-select.min.js' %}"></script>
    <script src="{% static '/assets/js/vendor/nouislider.min.js' %}"></script>
    <script src="{% static '/assets/js/vendor/jquery.horizontalmenu.js' %}"></script>
    <script src="{% static '/assets/js/vendor/jquery-stack-menu.min.js' %}"></script>
    <script src="{% static '/assets/js/vendor/jquery.fancybox.min.js' %}"></script>
    <script src="{% static '/assets/js/vendor/countdown.min.js' %}"></script>
    <script src="{% static '/assets/js/vendor/wNumb.js' %}"></script>
    <script src="{% static '/assets/js/vendor/ResizeSensor.min.js' %}"></script>
    <script src="{% static '/assets/js/vendor/theia-sticky-sidebar.min.js' %}"></script>
    <!-- Main JS File -->
    <script src="{% static '/assets/js/main.js' %}"></script>
</body>

</html>