{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="fa">
        <!-- Start main-content -->
        <main class="main-content dt-sl mb-3">
            <div class="container main-container">
                <!-- Start title - breadcrumb -->
                {% for item in blog_detail %}
                    <div class="title-breadcrumb-special dt-sl">
                        <div class="title-page dt-sl">
                            <h1>  {{item.title}} </h1>
                        </div>
                    </div>
                    <!-- End title - breadcrumb -->
                    <div class="row">
                        <div class="col-lg-12 col-md-8 col-sm-12 col-12 mb-3">
                            <div class="content-page">
                                <div class="content-desc dt-sn dt-sl">
                                    <div class="post-thumbnail dt-sl">
                                        <img src="{{ item.images.first.image.url }}" alt="">
                                    </div>
                                    <p align="justify"><span style="color: #ff0000;"> {{item.title}} </span> {{item.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </main>
        <!-- End main-content -->
{% endblock content %}